*{
	margin:0;
	padding:0;
}
a{
	color:#FF9800;
	text-decoration: none;
	transition: ease-in-out color .5s;
}
a:hover{
	text-decoration: none;
	color:#c59a6d;
	transition: ease-in-out color .5s;
}
.logo{
	font-size: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	color:#FF9800;
}
.hide{
	display: none;
}
button{
	outline:none;
	background:none;
	border:none;
	color: #FF9800;
}
button:hover{
	color:#c59a6d;
}
/*a:visited{
	text-decoration: none;
	color:white;
	transition: ease-in-out color .5s;
}
a:active{
	text-decoration: none;
	color:white;
	transition: ease-in-out color .5s;
}*/
.width-limit{
	background-color: black;
}
.navbar-default .navbar-brand{
	color:#FF9800;
}
.head{
	width:100%;
	height: 60px;
	line-height: 60px;
	position: relative;
	padding:0 20px;
	background-color: pink;
	margin: 0px;
}

.write-btn{
	float: right;
	color:#FF9800;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
#username,.logout{
	float: right;
    height: 100%;
    padding: 15px 15px;
    font-size: 18px;
	margin-top:2px;
    line-height: 20px;
}
#username{
	width:auto;
	text-align: center;
	font-size: 24px;
    font-style: italic;
	background-color: #ff9800;
}
#username > a{
	color: black;
	text-decoration: none;
}
#username > a:hover{
	color: whitesmoke;
	text-decoration: none;
}
.logout{
	cursor:pointer;
	color:#FF9800;
}
ul{
	width:95%;
	list-style: none;
}
li{
	width:25%;
	float: left;
}

#menu{
	width:800px;
	height: 60px;
	text-align: left;
	line-height: 60px;
	color:#FF9800;
	font-size: 16px;
	font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
	float: left;
}
.active  {
	color:#FF9800;
}
span{
	height:24px;
	line-height: 24px;
	top:-5px;
}
.navbar-default .navbar-nav > li > a {
    color: #FF9800;
}
.navbar-nav > li > a :hover{
	    color:#c59a6d;
	    transition: ease-in-out color .5s;
}
/*li > a:hover{
	color:#ea6f5a;
}*/

.content-two{
	height: 900px;
	border-radius: 10px;
	margin-top: 150px;
	position: relative;
	overflow: hidden;
}

.list{
	/*display: inline-block;*/
	position: absolute;
	overflow:auto;
	width:100%;
	height: 100%;
	-webkit-transition:all 1s ease-in-out;
	transition:all 0.5s ease-in-out;
}
.move-pub{
	/*left:-100%;*/
	transform: translate(-110%,0);
	-webkit-transform:translate(-110%,0);
}


.note-list{
	margin:0;
	padding:0;
	list-style: none;
	font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}
.node-list > li{
	list-style: none;
	width:100%;
	margin:10px;
}
.uploadForm{
	width:600px;
	height: 400px;
	margin:100px auto;
}
.control-select{
	height:30px;
	text-align: right;
	line-height: 30px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.upload-btn > button{
	width:150px;
	float:right;
}
@media (min-width: 992px){
	.container {
    	width: 960px;
	}
}

@media (min-width: 768px){
	.navbar-nav > li > a :hover{
	    color:#c59a6d;
	    transition: ease-in-out color .5s;
	}
}
@media (max-width: 992px){
	#menu{
		width:100%;
	}
	#menu > ul{
		width:100%;
	}

	td > p{
		width:200px;
		margin-right:20px;
		overflow: hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
	}
	.uploadForm{
		width:100%;
	}
	input{
		float:left;
	}
	.control-label{
		margin-left:20px;
		float:left;
	}
	.control-select{
		margin-left:20px;
		float:left;
	}
	.control-input{
		width:60%;
		float:right;
		margin-right:20px;
	}
	.upload-btn{
		text-align: center;
	}
	.upload-btn >button{
		width:100px;
		background-color: #1b1e21;
		color:#FF9800;
	}
}
svg{
	width:100%;
	height:100%;
}
.editbtn, .delebtn{
	width:20px;
	height:20px;
	float: right;
	border:none;
	background:white;
	margin:0 10px;
}

.editbtn :hover, .delebtn :hover{
	width:25px;
	height:25px;
}
.article-content > p{
	float: left;
	width:70%;
	height:30px;
	overflow:hidden;
}
.article-content > a{
	cursor: pointer;
}
.article-content > p{
	margin:10px 0;
}
.article-content > span {
	float: right;
}
.title{
	font-size:20px;
}
#articles{
	position: relative;
}
#articleList{
	position:absolute;
}
.lastStep{
	width:30px;
	height:30px;
}
#artTitle{
    width:100%;
    height:auto;
    line-height: 50px;
    text-align: center;
	font-size:24px;
	font-weight: bold;
}
#authorName{
    width:100%;
    height:30px;
    margin-top:10px;
    line-height: 30px;
    text-align: right;
	font-style: italic;
}
#content{
    width:100%;
    margin-top:50px;
    background-color: #eaeaea;
}