*{
	margin:0;
	padding: 0;
}

.container{
	width: 300px;
	margin:20% auto;
	padding: 0 auto;
	display:table;
    height:100%;
}
.form-signin{
	max-width:800px;
	margin:0 auto;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:center;
    margin-right:-4px;
}
button, input{
	margin-top:20px;
}
