<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="decription" content="This is a communication platform for Hunter-ht">
	<meta name="author" content="liuyingying">
	<title>Hunter-ht</title>
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<link href="../static/css/home.css" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-default site-header navbar-fixed-top py-1" role="navigation">
      <div class="container-fluid">
      	<div class="navbar-header">
      		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
      			<span class="sr-only">Choose</span>
      			<span class="icon-bar"></span>
      			<span class="icon-bar"></span>
      			<span class="icon-bar"></span>
      			<span class="icon-bar"></span>
      		</button>
      		 <!-- <input type="radio" name="radio-set" checked id="nav-hunter"> -->
      		 <a class="navbar-brand nav-title" href="#">
	          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
	          <!-- Hunter-ht -->
	        </a>
      	</div>
       
        <div class="collapse navbar-collapse" id="navbar-menu">
        	<ul class="nav navbar-nav row">
        		<li>
        			<a href="#">Home</a>
        		</li>
        		<li>
        			<!-- <input type="radio" name="radio-set" id="nav-Products"> -->
        			<a href="#">Projects</a>
        		</li>
        		<li>
        			<!-- <input type="radio" name="radio-set" id="nav-Publication"> -->
        			<a href="#">Publications</a>
        		</li>
        		<li>
        			<!-- <input type="radio" name="radio-set" id="nav-Articles"> -->
        			<a href="#">Articles</a>
        		</li>

        	</ul>
        </div>
       <!--  <a class="col-2 py-2 d-none d-md-inline-block" href="#Home">Home</a>
        <a class="col-2 py-2 d-none d-md-inline-block" href="#Products">Products</a>
        <a class="col-2 py-2 d-none d-md-inline-block" href="#Publication">Publication</a>
        <a class="col-2 py-2 d-none d-md-inline-block" href="#Articles">Articles</a> -->
      </div>

    
    </nav>
    <div id="content">
    	
     	<section id="Home">
     		<div class="section position-relative overflow-hidden text-center bg-light">
		      <h1>Home</h1>
		      <span></span>
		      <p>&nbsp;&nbsp;&nbsp;&nbsp;Hunter is a software research group that focuses on vulnerability detection. Our research interests cover multiple layers of software, including operating systems, firmware, binaries and web aplications. We are committed to developing tools of symbolic execution, fuzzing and binary analysis for automated detection of software vulnerabilities. </p>
		      <p>Email Address: hunter_ht@outlook.com</p>
		    </div>
     	</section>
     	<section id="Projects">
     		<div class="section position-relative overflow-hidden text-center bg-light">
		      <h1>Projects</h1>
		      <span></span>
		    </div>
		    <div>
		    	 <div class="viewAll" class="about-grid">
						<div class="viewItem col-md-3 col-sm-6 col-xs-6 text-center">
							<div class="about-grid-info">
                                <a href="https://github.com/hunter-ht-2018/ptfuzzer" target="_blank"><span class="projIcon icon-1"></span></a>
								<h4><a href="https://github.com/hunter-ht-2018/ptfuzzer" target="_blank">PTFUZZER</a></h4>
								
							</div>
							<div class="item about-grid-caption">
								Fuzzing using the Intel PT support.
							</div>
						</div>
						<div class="viewItem col-md-3 col-sm-6 col-xs-6 about-grid text-center">
							<div class="about-grid-info">
                                <a href="https://github.com/hunter-ht-2018/qse-ht" target="_blank"><span class="projIcon icon-2"></span></a>
								<h4><a href="https://github.com/hunter-ht-2018/qse-ht" target="_blank">QSE-HT</a></h4>
								
							</div>
							<div class="item about-grid-caption">
								A symbolic execution engine using qemu
							</div>
						</div>
						<div class="viewItem col-md-3 col-sm-6 col-xs-6 about-grid text-center">
							<div class="about-grid-info">
                                <a href="https://github.com/hunter-ht-2018/DFTinker" target="_blank"><span class="projIcon icon-3"></span></a>
								<h4><a href="https://github.com/hunter-ht-2018/DFTinker" target="_blank">DFTINKER</a></h4>
								
							</div>
							<div class="item about-grid-caption">
								Automatically detect double-fetch bugs in OS kerenels
							</div>
						</div>
						<div class="viewItem col-md-3 col-sm-6 col-xs-6 about-grid text-center">
							<div class="about-grid-info">
                                <a href="https://github.com/hunter-ht-2018/binary_analysis" target="_blank"><span class="projIcon icon-4"></span></a>
								<h4><a href="https://github.com/hunter-ht-2018/binary_analysis" target="_blank">BINARY-ANALYSIS</a></h4>
								
							</div>
							<div class="item about-grid-caption">
								A set of tools for binary analysis
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
                </div>
     	</section>
     	<section id="Publications">
     		<div class="section position-relative overflow-hidden text-center bg-light">
		      <h1>Publications</h1>
		      <span></span>
		    </div>
		    <table class="table tableList">
		    	<thead>
		    		
		    	</thead>
		    	<tbody>

{#                    {%  for publication in publications  %}#}
{#		    		<tr>#}
{#                        <td><a href={{ publication.link }} target="_blank">{{ publication.title }}</a></td>#}
{#		    			<td><p>{{ publication.authors }}</p><p>{{ publication.messages }}</p></td>#}
{#		    		</tr>#}
{#                    {%  endfor %}#}
                    {%  for publication in publications  %}
		    		<tr>
		    			<td class="col-xm-2 col-md-4">{{ publication.date }}</td>
                        <td class="col-xm-10 col-md-6 col-md-offset-2">
                        	<p><a href={{ publication.link }} target="_blank">{{ publication.title }}</a></p>
                        	<p>{{ publication.authors }}</p>
                        	<p>{{ publication.journalname }} {{publication.index}}</p>
                        </td>
		    		</tr>
                    {%  endfor %}
		    	</tbody>
		    </table>
     	</section>
     	<section id="Articles">
     		<div class="section position-relative overflow-hidden text-center bg-light">
		      <h1>Articles</h1>
		      <span></span>
		    </div>
		    <div id="list-container">
		    	<ul class="node-list">
		    		<li>
		    			<div class="article-content">
		    				<a class="title" target="_blank">Title</a>
		    				<p class="abstract">Some Sentences of this article......</p>
		    			</div>
		    		</li>
		    		<li>
		    			<div class="article-content">
		    				<a class="title" target="_blank">Title</a>
		    				<p class="abstract">Some Sentences of this article......</p>
		    			</div>
		    		</li>
		    		<li>
		    			<div class="article-content">
		    				<a class="title" target="_blank">Title</a>
		    				<p class="abstract">Some Sentences of this article......</p>
		    			</div>
		    		</li>
		    		<li>
		    			<div class="article-content">
		    				<a class="title" target="_blank">Title</a>
		    				<p class="abstract">Some Sentences of this article......</p>
		    			</div>
		    		</li>
		    		<li>
		    			<div class="article-content">
		    				<a class="title" target="_blank">Title</a>
		    				<p class="abstract">Some Sentences of this article......</p>
		    			</div>
		    		</li>
		    		<li>
		    			<div class="article-content">
		    				<a class="title" target="_blank">Title</a>
		    				<p class="abstract">Some Sentences of this article......</p>
		    			</div>
		    		</li>
		    	</ul>
		    </div>
     	</section>
     </div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<!-- <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script> -->
	<script src="../static/bootstrap-4.0.0/assets/js/vendor/jquery-slim.min.js"></script>
	<script src="../static/bootstrap-4.0.0/assets/js/vendor/popper.min.js"></script>
	<script src="../static/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
	<script src="../static/bootstrap-4.0.0/assets/js/vendor/holder.min.js"></script>

	<!--control content's height -->
	<script type="text/javascript">
		window.onload = function(){
			changeSectionHeight();
			// var body = document.getElementsByTagName('body')[0];
			// var navH = document.getElementsByTagName('nav')[0].clientHeight;
			// var content = document.getElementById('content');
			// var section = document.getElementsByTagName('section');
			
			// var clientH = window.innerHeight;

			// body.style.height = clientH+'px';
			// content.style.height = clientH-navH+'px';
			// for(var i=0;i<section.length;i++){
			// 	section[i].style.height = clientH-navH+'px';
			// 	section[i].style.marginTop = navH+'px';
			// }

			// var aLink = document.getElementsByTagName('li');
			// for(var i=0; i<aLink.length; i++){
			// 	aLink[i].addEventListener('onclick',function(e){
			// 		alert(e+"abc");
			// 	})
			// }

			$('nav a').click(function(){
				//alert(this.text);
				var id=this.text;
				if(id=="Hunter-ht"){
					var className="scrollTo-Home";
					document.getElementById('content').classList=className;
				}else{
					var className="scrollTo-"+id;
					document.getElementById('content').classList=className;
				}

			})
			$('#Hunter-ht img').click(function(){
				var id = this.parentElement.getElementsByTagName('h4')[0].textContent;
				var className="scrollTo-"+id;
				document.getElementById('content').classList=className;
			})
		}

		window.onresize=function(){  
                 changeSectionHeight();  
        } 
        function changeSectionHeight(){
        	var body = document.getElementsByTagName('body')[0];
			var navH = document.getElementsByTagName('nav')[0].clientHeight;
			var content = document.getElementById('content');
			var section = document.getElementsByTagName('section');
			
			var clientH = window.innerHeight;

			body.style.height = clientH+'px';
			content.style.height = clientH-navH+'px';
			for(var i=0;i<section.length;i++){
				section[i].style.height = clientH-2*navH+'px';
				section[i].style.marginTop = navH+'px';
			}
        }
		

	</script>
</body>
</html>
