<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/personal.css">
	<link rel="stylesheet" type="text/css" href="../static/css/markdown.css">
	<script type="text/javascript" src="../static/js/jquery-1.9.1.min.js"></script>
    <script src="../static/js/jquery.form.js"></script>
	<script type="text/javascript" src="../static/js/showdown.js"></script>
</head>
<body>
<div id="introduction">

</div>
</body>
<script>
    $(document).ready(function() {
		var name=getNameFromURL();
		var url="/profile/"+name+".html";
		$.ajax({
            url:url,
            type:'post',
            data:{
                    "username":name,
                },
            success:function (message) {
	            var converter = new showdown.Converter();
	            var introHTML = converter.makeHtml(message["details"]);
                document.getElementById("introduction").innerHTML=introHTML;
            },
        });
    });

    function getNameFromURL(){
	    var arr = window.location.href.split('/');
	    var name = arr[arr.length-1].split('.')[0];
	    return name;
    }

</script>
</html>