<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="decription" content="Upload">
	<meta name="author" content="liuyingying">
    <title>Upload Publication</title>
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<link rel="stylesheet" href="../static/css/upload.css">
</head>
<body>
	<div class="uploadForm">
		<form class="form-horizontal" role="form" action="/upload/" method="post" enctype="multipart/form-data">
	    	<div class="form-group">
	    		<label class="col-sm-2 control-label">作者</label>
	    		<div class="col-sm-10">
	    			<input type="text" class="form-control" placeholder="Example:Tom,Bob,Jane" name="authors">
	    		</div>
	    	</div>
            <div class="form-group">
	    		<label class="col-sm-2 control-label">标题</label>
	    		<div class="col-sm-10">
	    			<input type="text"  class="form-control"  name="title" >
	    		</div>
	    	</div>
	    	<div class="form-group">
	    		<label class="col-sm-2 control-label">文件</label>
	    		<div class="col-sm-10">
	    			<input type="file" name="myfile" >
	    		</div>
	    	</div>
	    	<div class="form-group">
	    		<label class="col-sm-2 control-label">会议/期刊</label>
	    		<div class="col-sm-10">
	    			<input type="text" class="form-control"  name="journalname">
	    		</div>
	    	</div>
	    	<div class="form-group">
	    		<label class="col-sm-2 control-label">日期</label>
	    		<div class="col-sm-10">
	    			<input type="text" class="form-control" placeholder="示例：2018-08-08"  name="date">
	    		</div>
	    	</div>
	        <div class="form-group">
	    		<label class="col-sm-2 control-label">检索类型</label>
	    		<div class="col-sm-10">
	    			<input type="text" class="form-control"  name="index">
	    		</div>
	    	</div>

	        <div class="form-group">
	        	<div class="col-sm-offset-2 col-sm-10">
	        		<button type="submit" class="btn btn-default">提交</button>
					<p>{{ uploadError }}</p><p>{{ uploadMessage }}</p>	
	        	</div>
	        </div>
        </form>
	</div>
    
</body>
</html>