*{
	margin:0;
	padding:0;
}

/* Markdown解析样式 */
blockquote {
    color: rgba(0,0,0,.5);
    padding-left: 1.5em;
    border-left: 5px solid rgba(0,0,0,.1);
}
blockquote {
    display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 40px;
	-webkit-margin-end: 40px;
}
.content > ul li {
    line-height: 20px;
	list-style: circle;
}
code {
	background-color: rgba(0,0,0,.05);
    display: block;
    padding: .5em;
    -webkit-text-size-adjust: none;
    overflow-x: auto;
    white-space: pre;
}
img{
	width: 80%;
    margin: 0 auto;
    display: block;
}
/* Markdown解析样式 */

a{
	color:#FF9800;
	text-decoration: none;
	transition: ease-in-out color .5s;
}
a:hover{
	text-decoration: none;
	color:#c59a6d;
	transition: ease-in-out color .5s;
}
.logo{
	font-size: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	color:#FF9800;
}
.hide{
	display: none;
}
button{
	outline:none;
	background:none;
	border:none;
	color: #FF9800;
}
button:hover{
	color:#c59a6d;
}

.width-limit{
	background-color: rgba(0,0,0,0.7);
}
.navbar-default .navbar-brand{
	color:#FF9800;
}
.head{
	width:100%;
	height: 60px;
	line-height: 60px;
	position: relative;
	padding:0 20px;
	background-color: pink;
	margin: 0px;
}

.write-btn{
	float: right;
	color:#FF9800;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
#username,.logout{
	float: right;
    height: 100%;
    padding: 15px 15px;
    font-size: 18px;
	margin-top:2px;
    line-height: 20px;
}
#username{
	width:auto;
	text-align: center;
	font-size: 24px;
    font-style: italic;

}
#username > a{
	color: #ff9800;
	text-decoration: none;
}
#username > a:hover{
	color: whitesmoke;
	text-decoration: none;
}
.logout{
	cursor:pointer;
	color:#FF9800;
}
ul{
	width:95%;
	list-style: none;
	display: inline-block;
}
ul>li{
	width:25%;
	float: left;
}

#scoreCnt{
	width:100%;
	height:30px;
	line-height: 30px;
	text-align: right;
}

#menu{
	width:800px;
	height: 60px;
	text-align: left;
	line-height: 60px;
	color:#FF9800;
	font-size: 16px;
	font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
	float: left;
}
.active  {
	color:#FF9800;
}
span{
	height:24px;
	line-height: 24px;
	top:-5px;
}
.navbar-default .navbar-nav > li > a {
    color: #FF9800;
}
.navbar-nav > li > a :hover{
	    color:#c59a6d;
	    transition: ease-in-out color .5s;
}
/*li > a:hover{
	color:#ea6f5a;
}*/

.content-two{
	height: 1600px;
	border-radius: 10px;
	margin-top: 150px;
	position: relative;
	overflow: hidden;
}

.list{
	position: absolute;
	overflow:auto;
	width:100%;
	top:0;
	height: 100%;
	-webkit-transition:all 1s ease-in-out;
	transition:all 0.5s ease-in-out;
}
.move-pub{
	/*left:-100%;*/
	transform: translate(-110%,0);
	-webkit-transform:translate(-110%,0);
}


.note-list{
	margin:0;
	padding:0;
	list-style: none;
	font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}
.node-list > li{
	list-style: none;
	width:100%;
	margin:10px;
}
.uploadForm{
	width:600px;
	height: 400px;
	margin:100px auto;
}
.hide{
	display: none;
}
.control-select{
	height:30px;
	text-align: right;
	line-height: 30px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: white;
    border: solid 1px #ff9800;
}
.select_ctrl{
	width:200px;
	border-radius: 5px;
	padding-left: 30px;
	margin-left:20%;
}
.upload-btn > button{
	width:150px;
	float:right;
}
@media (min-width: 992px){
	.container {
    	width: 960px;
	}
}

@media (min-width: 768px){
	.navbar-nav > li > a :hover{
	    color:#c59a6d;
	    transition: ease-in-out color .5s;
	}
}
@media (max-width: 992px){
	#menu{
		width:100%;
	}
	#menu > ul{
		width:100%;
	}

	td > p{
		width:200px;
		margin-right:20px;
		overflow: hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
	}
	.uploadForm{
		width:100%;
	}
	input{
		float:left;
	}
	.control-label{
		margin-left:20px;
		float:left;
	}
	.control-select{
		margin-left:20px;
		float:right;
	}
	.control-input{
		width:60%;
		float:right;
		margin-right:20px;
	}
	.upload-btn{
		text-align: center;
	}
	.upload-btn >button{
		width:100px;
		background-color: #1b1e21;
		color:#FF9800;
	}
}
svg{
	width:100%;
	height:100%;
}
.editbtn, .delebtn{
	width:20px;
	height:20px;
	float: right;
	border:none;
	background:white;
	margin:0 10px;
}

.editbtn :hover, .delebtn :hover{
	width:25px;
	height:25px;
}
.article-content > p{
	float: left;
	width:70%;
	height:20px;
	overflow:hidden;
}
.article-content > a{
	cursor: pointer;
}
.article-content > p{
	margin:10px 0;
}
.article-content > span {
	float: right;
}
.title{
	font-size:20px;
}
#articles{
}

#articleList{

}
.short-title{
	width: 100%;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    font-size: 20px;
    border-left: solid 5px black;
}
.lastStep{
	width:30px;
	height:30px;
}
#artTitle{
    width:100%;
    height:auto;
    line-height: 50px;
    text-align: center;
	font-size:24px;
	font-weight: bold;
}
#authorName{
    width:100%;
    height:30px;
    margin-top:10px;
	padding-right:30px;
    line-height: 30px;
    text-align: right;
	font-style: italic;
}
#content{
    width:100%;
    margin-top:50px;
	margin-left:20px;
    background-color: #eaeaea;
}
.abstract{
	color: grey;
}
.isOpenR{
	display: none;
}
.upload-btn>label{
	position:relative;
	margin-right:100px;
	cursor: pointer;
}
.upload-btn>label::before{
	display: block;
	width:20px;
	height:20px;
	border:solid 1px #ff9800;
	border-radius: 2px;
	horiz-align: right;
	left:-30px;
	content:"";
	position: absolute;
}
.upload-btn>input:checked+label::before{
	background-color: white;
}
.upload-btn>input:checked+label::after{
	display: inline-block;
	content:"";
	width:10px;
	height: 10px;
	border-radius: 5px;
	position: absolute;
	left:-25px;
	bottom: 5px;
	background-color: black;
}

.delePubBtn{
	margin-bottom: 10px;
}
.modifyCnt{
	width:600px;
	height:200px;
	display: block;
	margin:0 auto;
}
.modifyCtrl{
	display: block;
    width: 70%;
    float: right;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
	border: 1px solid #FF9800;
    border-radius: 5px;
}
.modifyCnt>.control-select{
	width:80px;
	float: left;
}
.modifyCnt>li>label{
	float: left;
}
.modifyCnt>ul{
	width: 100%;
}
.modifyCnt>li{
	width: 100%;
	margin-bottom:20px;
}

.subModifyBtn{
	float: right;
	width:200px;
	height:35px;
	color:#333;
	border:solid 1px #c7c7c7;
	text-align: center;
	border-radius:5px;
}
.subModifyBtn:hover{
	color: #333;
	border-color:#ff9800;
}
.uploadModForm{
	width: 60%;
    height: 40%;
    margin: 10% 20%;
    padding-top: 20px;
    position: fixed;
	background-color: #f3eded;
    border: solid 2px #ff9800;
    z-index: 999;


}
.modWrapper{
	-webkit-animation-duration: 500ms;
	-moz-animation-duration: 500ms;
	-o-animation-duration: 500ms;
	animation-duration: 500ms;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-o-transform-origin:50% 100%;
	transform-origin: 50% 100%;
}
.modWrapper.slipUp{
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	transform: rotateX(0deg);
	-webkit-animation-name: contentSlipToUp;
	-moz-animation-name: contentSlipToUp;
	-o-animation-name: contentSlipToUp;
	animation-name: contentSlipToUp;
}

        .wrap-slipBottom{
            -webkit-transform: rotateX(90deg);
            -moz-transform: rotateX(90deg);
            -ms-transform: rotateX(90deg);
            -o-transform: rotateX(90deg);
            transform: rotateX(90deg);
            -webkit-animation-name: contentSlipToBottom;
            -moz-animation-name: contentSlipToBottom;
            -o-animation-name: contentSlipToBottom;
            animation-name: contentSlipToBottom;
        }

.dialog-face{
	position: fixed;
	background: #9e9e9e;
    height: 100%;
	width: 100%;
	z-index: 990;
	top: 0;
	left: 0;
	opacity: 0.7;

	-webkit-animation-duration: 500ms;
	-moz-animation-duration:500ms;
	-o-animation-duration:500ms;
	animation-duration: 500ms;
}
.face-slipBottom[opacity="0"]{
            display: none;
        }
.dialog-face.slipUp{
	opacity: 0.7;
	-webkit-animation-name: dialogFaceSlipToUp;
	-moz-animation-name: dialogFaceSlipToUp;
	-o-animation-name: dialogFaceSlipToUp;
	animation-name: dialogFaceSlipToUp;
}

.face-slipBottom{
	opacity: 0;
	visibility: hidden;
	-webkit-animation-name: dialogFaceSlipToBottom;
	-moz-animation-name: dialogFaceSlipToBottom;
	-o-animation-name: dialogFaceSlipToBottom;
	animation-name: dialogFaceSlipToBottom;
}
.cloDialog{
	display: block;
    margin: 0 auto;
    width: 50%;
    background-color: black;
    height: 40px;
    border-radius: 10px;
	font-size: 20px;
    margin-top: 15px;
}

 /* ---------------------动画关键帧 -------------------*/

        @keyframes dialogFaceSlipToUp  {
            0%{
               opacity: 0;
            }
            100%{
                opacity: 0.7;
            }
        }

        @keyframes dialogFaceSlipToBottom {
            0%{
                opacity: 0.7;
                visibility:visible;
            }
            100%{
                visibility: hidden;
                opacity: 0;
            }
        }

        @keyframes dialogSlipToUp  {
            0%{
                top: 100%;
                opacity: 0.3;
            }
            100%{
                top: 50%;
                opacity: 1;
            }
        }

        @keyframes dialogSlipToBottom  {
            0%{
                top: 50%;
                opacity: 1;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
            100%{
                top: 100%;
                opacity: 0.3;
                -webkit-transform: translate(-50%, 0);
                -moz-transform: translate(-50%, 0);
                -ms-transform: translate(-50%, 0);
                -o-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
            }
        }

        @keyframes contentSlipToUp  {
            0%{
                -webkit-transform: rotateX(90deg);
                -moz-transform: rotateX(90deg);
                -ms-transform: rotateX(90deg);
                -o-transform: rotateX(90deg);
                transform: rotateX(90deg);
            }
            100%{
                -webkit-transform: rotateX(0deg);
                -moz-transform: rotateX(0deg);
                -ms-transform: rotateX(0deg);
                -o-transform: rotateX(0deg);
                transform: rotateX(0deg);
            }
        }

        @keyframes contentSlipToBottom  {
            0%{
                -webkit-transform: rotateX(0deg);
                -moz-transform: rotateX(0deg);
                -ms-transform: rotateX(0deg);
                -o-transform: rotateX(0deg);
                transform: rotateX(0deg);
            }
            60%{
                -webkit-transform: rotateX(60deg);
                -moz-transform: rotateX(60deg);
                -ms-transform: rotateX(60deg);
                -o-transform: rotateX(60deg);
                transform: rotateX(60deg);
            }
            100%{
                -webkit-transform: rotateX(90deg);
                -moz-transform: rotateX(90deg);
                -ms-transform: rotateX(90deg);
                -o-transform: rotateX(90deg);
                transform: rotateX(90deg);
            }
        }